/* Variablendeklaration */
/* Prolog, Epilog */
/* Hauptbereich */
/* 8 x 3000px pro Phase */
/* Schriften */
/* Schrifteneinbindung */
@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}
/*
@font-face {
  font-family: 'Geostar';
  src: url('../fonts/Geostar/Geostar-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Jura';
  src: url('../fonts/Jura/Jura-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MedievalSharp';
  src: url('../fonts/MedievalSharp/MedievalSharp.ttf') format('truetype');
}
@font-face {
  font-family: 'RockSalt';
  src: url('../fonts/Rock_Salt/RockSalt.ttf') format('truetype');
}
@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf') format('truetype');
}
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'AmaticSC-Regular', sans-serif;
  color: white;
}
img {
  height: auto;
  max-width: 100%;
}
em {
  font-weight: bold;
}
/* start Ebenen */
.ebene_0 {
  z-index: 0;
}
.ebene_1 {
  z-index: 1;
}
.ebene_2 {
  z-index: 2;
}
.ebene_3 {
  z-index: 3;
}
.ebene_4 {
  z-index: 4;
}
.ebene_5 {
  z-index: 5;
}
.ebene_6 {
  z-index: 6;
}
.ebene_7 {
  z-index: 7;
}
/* end Ebene*/
/* start Sterne*/
.sterne {
  position: fixed;
}
/* ende Sterne*/
/* start prolog, epilog */
#prolog,
#epilog {
  height: 3000px;
}
#prolog_inhalt,
#epilog_inhalt {
  position: fixed;
  color: white;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
#prolog_inhalt p,
#epilog_inhalt p {
  padding: 18px 0;
}
#prolog_inhalt #prolog_text,
#epilog_inhalt #prolog_text,
#prolog_inhalt #epilog_text,
#epilog_inhalt #epilog_text {
  line-height: 1.5em;
}
/* start prolog*/
#pfeil_bereich {
  position: fixed;
  width: 100%;
  bottom: 25%;
}
#pfeil_bereich p {
  text-align: center;
  font-size: 4em;
  margin-bottom: 1%;
}
#pfeil_bereich svg {
  background-color: transparent;
}
#pfeil {
  margin: 0 auto;
  width: 100px;
}
/* end prolog*/
/* start epilog */
#epilog_inhalt #epilog_text #epilog_text_projektteilnehmer {
  font-weight: bold;
  font-size: 1.2em;
}
#epilog_inhalt #epilog_text ul {
  list-style: none;
}
/* end epilog */
/* end prolog, epilog */
/* start hauptbereich */
#hauptbereich {
  height: 24000px;
}
#erdinitialisierung {
  height: 3000px;
}
#erdfinalisierung {
  height: 3000px;
}
#erde {
  position: fixed;
  width: 50%;
  min-width: 380px;
  max-width: 600px;
  left: 15%;
}
#erde #erde_img {
  height: 310px;
  width: 100%;
  border-radius: 50%;
  background: #0086BF;
}
/* start scrollbereich */
#scrollleiste {
  position: fixed;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #e74c3c;
  min-height: 500px;
}
#scrollbalken {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #962d22;
}
#scrolllinks {
  position: fixed;
  top: 0;
  left: 10px;
  min-height: 500px;
}
#scrolllinks ul {
  list-style-type: none;
}
#scrolllinks ul li a {
  color: white;
  text-decoration: none;
}
#scrolllinks {
  position: fixed;
  height: 100%;
}
.periode_link {
  font-size: 1.5em;
  position: absolute;
  padding-left: 0.3em;
  margin-top: -18px;
}
/*
    #periode_1_link {
      top: (12.5% * 1) + 6.25;
    }
    #periode_2_link {
      top: (12.5% * 2) + 6.25;
    }
    #periode_3_link {
      top: (12.5% * 3) + 6.25;
    }
    #periode_4_link {
      top: (12.5% * 4) + 6.25;
    }
    #periode_5_link {
      top: (12.5% * 5) + 6.25;
    }
    #periode_6_link {
      top: (12.5% * 6) + 6.25;
    }
    */
/* end scrollbereich */
.periode {
  position: relative;
  height: 3000px;
}
.periode .kontinente {
  position: fixed;
  width: 50%;
  min-width: 380px;
  max-width: 600px;
  left: 15%;
}
.periode .kontinente img,
.periode .kontinente object {
  height: 290px;
  width: 100%;
}
.periode .infotext {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: #222;
  font-size: 1.5em;
  color: white;
  line-height: 1.2em;
  height: 100%;
  overflow-y: auto;
}
.periode .infotext p {
  padding: 10px 0;
}
.periode .periode_ankerpunkt {
  position: absolute;
  top: 1500px;
  width: 0;
  height: 0;
}
#periode_2 .kontinente {
  margin-left: 25px;
}
#periode_3 .kontinente {
  margin-left: 30px;
}
#periode_4 .kontinente {
  margin-left: 30px;
}
#periode_5 .kontinente {
  margin-left: 20px;
}
#periode_6 .kontinente {
  margin-left: 20px;
}
#quelle {
  font-style: italic;
  color: white;
}
/*Sonstiges*/
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 3.3em;
  letter-spacing: 5px;
  padding: 10px 0 40px;
}
h2 {
  font-size: 2.3em;
  line-height: 2em;
}
/*Infotextanpassung*/
@media only screen and (min-width: 1200px) {
  .infotext {
    width: 400px;
    font-size: 1.9em;
    padding: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .infotext {
    width: 250px;
    font-size: 1.3em;
    padding: 7px;
  }
}
/*Prologanpassung*/
@media only screen and (max-height: 720px) {
  #prolog_inhalt main {
    font-size: 0.8em;
  }
}
@media only screen and (max-height: 635px) {
  #prolog_inhalt header h1 {
    padding: 0;
    font-size: 2.5em;
  }
  #prolog_inhalt main {
    font-size: 0.7em;
  }
}
@media only screen and (max-height: 485px) {
  #prolog_inhalt header h1 {
    font-size: 2em;
  }
  #prolog_inhalt main p {
    padding: 3px 0;
  }
}
/*Epiloganpassung*/
@media only screen and (max-height: 805px) {
  #epilog_inhalt main {
    font-size: 0.8em;
  }
}
@media only screen and (max-height: 675px) {
  #epilog_inhalt header h2 {
    padding: 0;
    font-size: 2em;
  }
  #epilog_inhalt main {
    font-size: 0.7em;
  }
}
@media only screen and (max-height: 595px) {
  #epilog_inhalt header h2 {
    font-size: 1.7em;
  }
  #epilog_inhalt main p {
    padding: 3px 0 8px 0;
  }
}
@media only screen and (max-height: 540px) {
  #epilog_inhalt header h2 {
    line-height: normal;
  }
}
@media only screen and (max-height: 490px) {
  #epilog_inhalt main ul li {
    display: inline;
    margin: 0 12px;
  }
}
