* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    height: 10000px;
}
#E0 {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
#E1 {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}
    #E1_1, #E1_2, #E1_3, #E1_4, #E1_5, #E1_6, #E1_7, #E1_8, #E1_9{
        background-color: white;
        position: relative;
    }
#E2 {
    z-index: 2;
    margin: 0 auto;
    width: 60%;
    height: 500px;
    background-color: darkolivegreen;
    position: fixed;
    top: 100px;
    left: 100px;
}