* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 250px;
}
body {
    font-family: "Courier New", Courier, monospace;
    font-size:   40px;
    font-weight: bold;
}
.gruppe {
    position: relative;
    width: 100%;
    height: 850px;
}
    #gruppe0 {
        height: 100%;
    }

.ebene {
    position: absolute;
    width:  100%;
    height: 100%;
}
.basis {
    z-index: 1;
    opacity: 0.8;
}
.hintergrund {
    z-index: 0;
}
    #basis0 {
        background-color: darkolivegreen;
        height: 100%;
    }
    #hintergrund0 {
        background-color: darkcyan;
        height: 100%;
    }
    #basis1 {
        background-color: darkgoldenrod;
    }
    #hintergrund1 {
        background-color: darkkhaki;
    }
    #basis2 {
        background-color: darkblue;
    }
    #hintergrund2 {
        background-color: darkcyan;
    }
    #basis3 {
        background-color: darkred;
    }
    #hintergrund3 {
        background-color: darkmagenta;
    }
        .titel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }